In [ ]:
# 1.  데이터를 가져와서 전처리한다.
# 2.  사용할 모델을 선택한다.
# 3.  데이터셋을 학습용, 테스트용으로 만든다.
# 4.  GridSearcCV 를 사용하여 학습을 진행한다.
# 5.  테스트 데이터셋으로 평가를 진행한다.

import pandas as pd
import numpy as np


#데이터를 최종적으로 전처리하여 얻을 데이터들 :  X_train,y_train,X_test,y_test
df_train = pd.read_excel('data/train_dataset.xlsx')
df_train.head()

   Age  Experience(Years)  Salary(만원)  Purchased
0   29                  0        5253          0
1   37                  7        4143          0
2   28                  5        7467          0
3   27                  4        6456          0
4   24                  0        3767          0