In [1]:
# 레이블 인코더
from sklearn.preprocessing import LabelEncoder

items = ['TV', '냉장고', '전자레인지', '컴퓨터', '선풍기', '냉장고', 'TV']

encoder = LabelEncoder()
encoder.fit(items)   # 통계량 학습
result = encoder.transform(items)  # 인코딩 수행
print('인코딩 변환값:', result)

인코딩 변환값: [0 1 3 4 2 1 0]

In [2]:
encoder.classes_  # 인코딩 대상 클래스 확인

array(['TV', '냉장고', '선풍기', '전자레인지', '컴퓨터'], dtype='<U5')

In [5]:
result = encoder.inverse_transform([3, 1, 2])  # 디코딩 수행
result

array(['전자레인지', '냉장고', '선풍기'], dtype='<U5')

In [ ]:
# 데이터 가져오기
import pandas as pd
df = pd.read_csv('./data/internet_churn_rate.csv')
df.head()
df_raw = df.copy()  # 원본 데이터 복사본 생성

   고객ID  월평균사용량_GB  가입기간_년   이탈여부
0   101       15.5       3   Stay
1   102        2.1       1  Churn
2   103       30.0       5   Stay
3   104        5.5       2   Stay
4   105        1.0       1  Churn

In [10]:
# 라이브러리 가져오기
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [15]:
# feature와 target 설정
feature = df[['월평균사용량_GB', '가입기간_년']]
target = df['이탈여부']  # target은 이탈여부 컬럼

In [16]:
# feature 데이터 확인
feature.head()

   월평균사용량_GB  가입기간_년
0       15.5       3
1        2.1       1
2       30.0       5
3        5.5       2
4        1.0       1

In [17]:
# target 데이터 확인
target.head()

0     Stay
1    Churn
2     Stay
3     Stay
4    Churn
Name: 이탈여부, dtype: str

In [18]:
# label encoder 객체 생성
encoder = LabelEncoder()
# target 데이터 인코딩 변환
target_encoded = encoder.fit_transform(target)
target_encoded

array([1, 0, 1, 1, 0, 1])

In [19]:
# 인코딩 변환된 클래스 확인
encoder.classes_

array(['Churn', 'Stay'], dtype=object)

In [ ]:
# 디코딩 변환 수행
decoded = encoder.inverse_transform(target_encoded)
decoded

array(['Stay', 'Churn', 'Stay', 'Stay', 'Churn', 'Stay'], dtype=object)

In [26]:
# standard scaler 객체 생성
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd

scaler = StandardScaler()
# feature 데이터 스케일링 변환
feature_scaled = scaler.fit_transform(feature)
feature_scaled

array([[ 0.20609789,  0.2236068 ],
       [-0.98600788, -1.11803399],
       [ 1.49606308,  1.56524758],
       [-0.68353328, -0.4472136 ],
       [-1.08386731, -1.11803399],
       [ 1.0512475 ,  0.89442719]])

In [27]:
data = {
    'age': [25, 35, 45, 50],
    'salary': [2500, 4800, 7100, 5200]
}

df = pd.DataFrame(data)
df

   age  salary
0   25    2500
1   35    4800
2   45    7100
3   50    5200

In [23]:
# df 에 적용
df[['월평균사용량_GB', '가입기간_년']] = feature_scaled
df.head()

   고객ID  월평균사용량_GB    가입기간_년   이탈여부
0   101   0.206098  0.223607   Stay
1   102  -0.986008 -1.118034  Churn
2   103   1.496063  1.565248   Stay
3   104  -0.683533 -0.447214   Stay
4   105  -1.083867 -1.118034  Churn

In [25]:
# 이탈여부 컬럼을 인코딩 변환된 값으로 대체
df['이탈여부'] = target_encoded
df.head()

   고객ID  월평균사용량_GB    가입기간_년  이탈여부
0   101   0.206098  0.223607     1
1   102  -0.986008 -1.118034     0
2   103   1.496063  1.565248     1
3   104  -0.683533 -0.447214     1
4   105  -1.083867 -1.118034     0