In [1]:
print("hello world")

hello world

# User-based movie recommend system

In [2]:
# C:\potenup3\ml01\data\movies.csv 열기
import pandas as pd
movies = pd.read_csv('data/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
movies.info()

<class 'pandas.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   str
 2   genres   9742 non-null   str
dtypes: int64(1), str(2)
memory usage: 228.5 KB

In [3]:
# C:\potenup3\ml01\data\ratings.csv 열기
ratings = pd.read_csv('data/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
ratings.info()

<class 'pandas.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [6]:
# ratings를 기반으로 movies data를 movieId 기준으로 병합
data = pd.merge(ratings, movies, on='movieId')
data.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [7]:
# genres 열의 문자열을 | 기준으로 분리하여 리스트로 변환
data['genres'] = data['genres'].str.split('|')
data.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,1,3,4.0,964981247,Grumpier Old Men (1995),"[Comedy, Romance]"
2,1,6,4.0,964982224,Heat (1995),"[Action, Crime, Thriller]"
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),"[Mystery, Thriller]"
4,1,50,5.0,964982931,"Usual Suspects, The (1995)","[Crime, Mystery, Thriller]"

In [8]:
# userID 기준으로 pivot table 생성
user_movie_df = data.pivot_table('rating', index='userId', columns='title')
user_movie_df.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# NaN 값을 0으로 변환
user_movie_df = user_movie_df.fillna(0)
user_movie_df.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# 코사인 유사도 
from sklearn.metrics.pairwise import cosine_similarity
user_similarity = cosine_similarity(user_movie_df)
user_similarity[:5]

array([[1.        , 0.02728287, 0.05972026, ..., 0.29109737, 0.09357193,
        0.14532081],
       [0.02728287, 1.        , 0.        , ..., 0.04621095, 0.0275654 ,
        0.10242675],
       [0.05972026, 0.        , 1.        , ..., 0.02112846, 0.        ,
        0.03211875],
       [0.19439477, 0.00372587, 0.00225139, ..., 0.14985814, 0.03219801,
        0.10768301],
       [0.12907989, 0.01661444, 0.00501972, ..., 0.13553534, 0.26123206,
        0.06079179]], shape=(5, 610))

In [11]:
# df로 변환
user_similarity_df = pd.DataFrame(user_similarity, index=user_movie_df.index, columns=user_movie_df.index)
user_similarity_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
2,0.027283,1.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
3,0.059720,0.000000,1.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
4,0.194395,0.003726,0.002251,1.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
5,0.129080,0.016614,0.005020,0.128659,1.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792

In [12]:
user_similarity_df.iloc[0].sort_values(ascending=False)

userId
1      1.000000
266    0.357408
313    0.351562
368    0.345127
57     0.345034
         ...
397    0.000000
506    0.000000
556    0.000000
496    0.000000
175    0.000000
Name: 1, Length: 610, dtype: float64

In [ ]:
# UserID 1번이 본 영화, 컬럼 값이 1인 컬럼 값 추출
user_movie_df.iloc[0][user_movie_df.iloc[0] > 0]

# userID 1번이 본 영화를 userID001 리스트로 저장
userID001 = user_movie_df.iloc[0][user_movie_df.iloc[0] > 0].index.tolist()
userID001

['13th Warrior, The (1999)',
 '20 Dates (1998)',
 'Abyss, The (1989)',
 'Adventures of Robin Hood, The (1938)',
 'Alice in Wonderland (1951)',
 'Alien (1979)',
 'All Quiet on the Western Front (1930)',
 'American Beauty (1999)',
 'American History X (1998)',
 'American Tail, An (1986)',
 'Apocalypse Now (1979)',
 'Austin Powers: International Man of Mystery (1997)',
 'Back to the Future (1985)',
 'Back to the Future Part III (1990)',
 'Bambi (1942)',
 'Basic Instinct (1992)',
 'Batman (1989)',
 'Batman Returns (1992)',
 'Bedknobs and Broomsticks (1971)',
 'Beetlejuice (1988)',
 'Being John Malkovich (1999)',
 'Best Men (1997)',
 'Big (1988)',
 'Big Lebowski, The (1998)',
 'Big Trouble in Little China (1986)',
 'Billy Madison (1995)',
 'Black Cauldron, The (1985)',
 'Blazing Saddles (1974)',
 'Blown Away (1994)',
 'Blues Brothers, The (1980)',
 'Bottle Rocket (1996)',
 'Braveheart (1995)',
 'Canadian Bacon (1995)',
 "Charlotte's Web (1973)",
 'Citizen Kane (1941)',
 'Clear and Present Danger (1994)',
 'Clerks (1994)',
 'Clockwork Orange, A (1971)',
 'Con Air (1997)',
 'Conan the Barbarian (1982)',
 'Crocodile Dundee (1986)',
 'Dances with Wolves (1990)',
 'Dazed and Confused (1993)',
 'Desperado (1995)',
 'Dick Tracy (1990)',
 'Dirty Dozen, The (1967)',
 'Dogma (1999)',
 'Dr. No (1962)',
 'Dracula (1931)',
 'Duck Soup (1933)',
 'Dumb & Dumber (Dumb and Dumber) (1994)',
 'Dumbo (1941)',
 'E.T. the Extra-Terrestrial (1982)',
 'Easy Rider (1969)',
 'Ed Wood (1994)',
 'Edward Scissorhands (1990)',
 'Encino Man (1992)',
 'Enemy of the State (1998)',
 'Escape to Witch Mountain (1975)',
 'Excalibur (1981)',
 'Face/Off (1997)',
 'Fantasia (1940)',
 'Fargo (1996)',
 'Few Good Men, A (1992)',
 'Fight Club (1999)',
 'Flight of the Navigator (1986)',
 'Forrest Gump (1994)',
 'Frankenstein (1931)',
 'From Dusk Till Dawn (1996)',
 'From Russia with Love (1963)',
 'Fugitive, The (1993)',
 'Full Metal Jacket (1987)',
 'Game, The (1997)',
 'Ghost and Mrs. Muir, The (1947)',
 'Ghost and the Darkness, The (1996)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'Gladiator (2000)',
 'Go (1999)',
 'Goldfinger (1964)',
 'Good Morning, Vietnam (1987)',
 'Goodfellas (1990)',
 'Goonies, The (1985)',
 'Great Mouse Detective, The (1986)',
 'Green Mile, The (1999)',
 'Grosse Pointe Blank (1997)',
 'Groundhog Day (1993)',
 'Grumpier Old Men (1995)',
 'Grumpy Old Men (1993)',
 "Gulliver's Travels (1939)",
 'Heat (1995)',
 'Henry V (1989)',
 'Highlander (1986)',
 'Honey, I Shrunk the Kids (1989)',
 'Hook (1991)',
 'Howard the Duck (1986)',
 'I Know What You Did Last Summer (1997)',
 'I Still Know What You Did Last Summer (1998)',
 'Independence Day (a.k.a. ID4) (1996)',
 'Indiana Jones and the Last Crusade (1989)',
 'Indiana Jones and the Temple of Doom (1984)',
 'Iron Giant, The (1999)',
 'JFK (1991)',
 'James and the Giant Peach (1996)',
 'Jungle Book, The (1967)',
 'Jungle Book, The (1994)',
 'Jurassic Park (1993)',
 'King Kong (1933)',
 'Kiss the Girls (1997)',
 'L.A. Confidential (1997)',
 'Labyrinth (1986)',
 'Ladyhawke (1985)',
 'Last of the Mohicans, The (1992)',
 'Legend (1985)',
 'Lethal Weapon (1987)',
 'Live and Let Die (1973)',
 'Lock, Stock & Two Smoking Barrels (1998)',
 "Logan's Run (1976)",
 'Longest Day, The (1962)',
 'Lord of the Rings, The (1978)',
 'M*A*S*H (a.k.a. MASH) (1970)',
 'Mad Max (1979)',
 'Man with the Golden Gun, The (1974)',
 'Mask, The (1994)',
 'Matrix, The (1999)',
 "McHale's Navy (1997)",
 'Men in Black (a.k.a. MIB) (1997)',
 'Messenger: The Story of Joan of Arc, The (1999)',
 'Mission: Impossible (1996)',
 'Monty Python and the Holy Grail (1975)',
 "Monty Python's Life of Brian (1979)",
 'Mr. Smith Goes to Washington (1939)',
 'Mrs. Doubtfire (1993)',
 'Mummy, The (1999)',
 'Negotiator, The (1998)',
 'NeverEnding Story, The (1984)',
 'Newton Boys, The (1998)',
 'Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)',
 'Office Space (1999)',
 "Pete's Dragon (1977)",
 'Pink Floyd: The Wall (1982)',
 'Pinocchio (1940)',
 'Planet of the Apes (1968)',
 'Platoon (1986)',
 'Predator (1987)',
 'Princess Bride, The (1987)',
 'Psycho (1960)',
 'Psycho (1998)',
 'Pulp Fiction (1994)',
 'Quiet Man, The (1952)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Red Dawn (1984)',
 'Rescuers, The (1977)',
 'Reservoir Dogs (1992)',
 'Return to Oz (1985)',
 'Road Trip (2000)',
 'Road Warrior, The (Mad Max 2) (1981)',
 'Rob Roy (1995)',
 'Robin Hood (1973)',
 'RoboCop (1987)',
 'Rock, The (1996)',
 'Rocketeer, The (1991)',
 'Rocky (1976)',
 'Rocky Horror Picture Show, The (1975)',
 'Romancing the Stone (1984)',
 'Run Lola Run (Lola rennt) (1998)',
 'Rush Hour (1998)',
 'Rushmore (1998)',
 'SLC Punk! (1998)',
 'Saving Private Ryan (1998)',
 "Schindler's List (1993)",
 'Scream 3 (2000)',
 'Secret of NIMH, The (1982)',
 'Seven (a.k.a. Se7en) (1995)',
 'Shaft (1971)',
 'Shaft (2000)',
 "She's the One (1996)",
 'Shining, The (1980)',
 'Silence of the Lambs, The (1991)',
 'Sister Act (1992)',
 'Sleeping Beauty (1959)',
 'Small Soldiers (1998)',
 'Sneakers (1992)',
 'So I Married an Axe Murderer (1993)',
 'Song of the South (1946)',
 'South Park: Bigger, Longer and Uncut (1999)',
 'Space Jam (1996)',
 'Spaceballs (1987)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Stargate (1994)',
 'Starship Troopers (1997)',
 'Superman (1978)',
 'Superman II (1980)',
 'Swingers (1996)',
 'Sword in the Stone, The (1963)',
 'Talented Mr. Ripley, The (1999)',
 'Teenage Mutant Ninja Turtles II: The Secret of the Ooze (1991)',
 'Teenage Mutant Ninja Turtles III (1993)',
 'Terminator, The (1984)',
 'Texas Chainsaw Massacre, The (1974)',
 'That Thing You Do! (1996)',
 'Thin Red Line, The (1998)',
 'Three Caballeros, The (1945)',
 'Three Musketeers, The (1993)',
 'Thunderball (1965)',
 'Tombstone (1993)',
 'Tommy Boy (1995)',
 'Total Recall (1990)',
 'Toy Story (1995)',
 'Toys (1992)',
 'Transformers: The Movie (1986)',
 'Tron (1982)',
 'Twister (1996)',
 'Usual Suspects, The (1995)',
 'Very Bad Things (1998)',
 "Wayne's World (1992)",
 'Wedding Singer, The (1998)',
 'Welcome to Woop-Woop (1997)',
 'What About Bob? (1991)',
 'Who Framed Roger Rabbit? (1988)',
 'Wild Things (1998)',
 'Willow (1988)',
 'Willy Wonka & the Chocolate Factory (1971)',
 'Winnie the Pooh and the Blustery Day (1968)',
 'Wizard of Oz, The (1939)',
 'Wolf Man, The (1941)',
 'X-Men (2000)',
 'Young Frankenstein (1974)',
 'Young Sherlock Holmes (1985)',
 '¡Three Amigos! (1986)']

In [18]:
print(len(userID001), "개의 영화를 봤습니다.")

232 개의 영화를 봤습니다.

In [25]:
# UserID 266번이 본 영화, 컬럼 값이 0 초과인 컬럼 값 추출
user_movie_df.iloc[265][user_movie_df.iloc[265] > 0]

title
2001: A Space Odyssey (1968)    5.0
Abyss, The (1989)               4.0
Airplane! (1980)                1.0
Aliens (1986)                   5.0
American Pie (1999)             1.0
                               ...
Unforgiven (1992)               5.0
Untouchables, The (1987)        5.0
Usual Suspects, The (1995)      4.0
Very Bad Things (1998)          4.0
Wizard of Oz, The (1939)        1.0
Name: 266, Length: 180, dtype: float64

In [27]:

# userID 266번이 본 영화를 userID266 리스트로 저장
userID266 = user_movie_df.iloc[265][user_movie_df.iloc[265] > 0].index.tolist()
userID266

['2001: A Space Odyssey (1968)',
 'Abyss, The (1989)',
 'Airplane! (1980)',
 'Aliens (1986)',
 'American Pie (1999)',
 'Analyze This (1999)',
 'Apocalypse Now (1979)',
 'Army of Darkness (1993)',
 'As Good as It Gets (1997)',
 'Austin Powers: International Man of Mystery (1997)',
 'Austin Powers: The Spy Who Shagged Me (1999)',
 'Babe: Pig in the City (1998)',
 'Back to the Future (1985)',
 'Bad Boys (1995)',
 'Batman (1989)',
 'Beavis and Butt-Head Do America (1996)',
 'Beetlejuice (1988)',
 'Bicentennial Man (1999)',
 'Big (1988)',
 'Big Hit, The (1998)',
 'Big Lebowski, The (1998)',
 'Blade (1998)',
 'Blade Runner (1982)',
 'Blair Witch Project, The (1999)',
 'Blues Brothers 2000 (1998)',
 'Blues Brothers, The (1980)',
 'Bob Roberts (1992)',
 'Bowfinger (1999)',
 'Braveheart (1995)',
 'Brazil (1985)',
 'Breakfast Club, The (1985)',
 'Broken Arrow (1996)',
 "Bug's Life, A (1998)",
 'Bulworth (1998)',
 'Casino (1995)',
 'Christmas Story, A (1983)',
 'Clerks (1994)',
 'Clockwork Orange, A (1971)',
 'Clueless (1995)',
 'Commitments, The (1991)',
 'Conspiracy Theory (1997)',
 'Creepshow (1982)',
 'Crocodile Dundee II (1988)',
 'Crow, The (1994)',
 'Dave (1993)',
 'Dazed and Confused (1993)',
 'Die Hard (1988)',
 'Dirty Work (1998)',
 'Dogma (1999)',
 'Donnie Brasco (1997)',
 'Doors, The (1991)',
 'Down Periscope (1996)',
 'Dr. Dolittle (1998)',
 'E.T. the Extra-Terrestrial (1982)',
 'Ed Wood (1994)',
 'Election (1999)',
 'End of Days (1999)',
 'Enemy of the State (1998)',
 'Entrapment (1999)',
 'Evil Dead II (Dead by Dawn) (1987)',
 'Eyes Wide Shut (1999)',
 'Face/Off (1997)',
 'Faculty, The (1998)',
 'Falling Down (1993)',
 'Fargo (1996)',
 'Fear and Loathing in Las Vegas (1998)',
 "Ferris Bueller's Day Off (1986)",
 'Fifth Element, The (1997)',
 'Fight Club (1999)',
 'Fish Called Wanda, A (1988)',
 'Fisher King, The (1991)',
 'Forrest Gump (1994)',
 'Friday (1995)',
 'Fugitive, The (1993)',
 'Full Metal Jacket (1987)',
 'Full Monty, The (1997)',
 'Get Shorty (1995)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'Glory (1989)',
 'Go (1999)',
 'Goldfinger (1964)',
 'Goodfellas (1990)',
 'Grosse Pointe Blank (1997)',
 'Groundhog Day (1993)',
 "Hard Day's Night, A (1964)",
 'Hard-Boiled (Lat sau san taam) (1992)',
 'Heat (1995)',
 'Heathers (1989)',
 'Highlander (1986)',
 'Hunt for Red October, The (1990)',
 'In & Out (1997)',
 'In Too Deep (1999)',
 'In the Line of Fire (1993)',
 'Indiana Jones and the Last Crusade (1989)',
 'Indiana Jones and the Temple of Doom (1984)',
 'Inkwell, The (1994)',
 'Jade (1995)',
 'Jurassic Park (1993)',
 'Kingpin (1996)',
 'L.A. Confidential (1997)',
 'Lethal Weapon (1987)',
 'Liar Liar (1997)',
 'Mask, The (1994)',
 'Matrix, The (1999)',
 'Maverick (1994)',
 'Men in Black (a.k.a. MIB) (1997)',
 'Menace II Society (1993)',
 'Monty Python and the Holy Grail (1975)',
 "Monty Python's Life of Brian (1979)",
 'My Blue Heaven (1990)',
 'My Cousin Vinny (1992)',
 'Natural Born Killers (1994)',
 'Nightmare Before Christmas, The (1993)',
 'Out of Sight (1998)',
 'Payback (1999)',
 'Pink Floyd: The Wall (1982)',
 'Platoon (1986)',
 'Pleasantville (1998)',
 'Powder (1995)',
 'Princess Bride, The (1987)',
 'Private Parts (1997)',
 'Producers, The (1968)',
 'Pulp Fiction (1994)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Raising Arizona (1987)',
 'Ravenous (1999)',
 'Real Genius (1985)',
 'Ref, The (1994)',
 'Reservoir Dogs (1992)',
 'RoboCop (1987)',
 'Rock, The (1996)',
 'Rocketeer, The (1991)',
 'Roger & Me (1989)',
 'Ronin (1998)',
 'Rushmore (1998)',
 'Saving Private Ryan (1998)',
 'Sense and Sensibility (1995)',
 'Shakespeare in Love (1998)',
 'Something Wicked This Way Comes (1983)',
 'South Park: Bigger, Longer and Uncut (1999)',
 'Speed (1994)',
 'Stand by Me (1986)',
 'Star Trek II: The Wrath of Khan (1982)',
 'Star Trek III: The Search for Spock (1984)',
 'Star Trek IV: The Voyage Home (1986)',
 'Star Trek: First Contact (1996)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Stargate (1994)',
 'Strange Days (1995)',
 'Stripes (1981)',
 'Substitute, The (1996)',
 'Summer of Sam (1999)',
 'Swingers (1996)',
 'Terminator 2: Judgment Day (1991)',
 'Terminator, The (1984)',
 'That Thing You Do! (1996)',
 "There's Something About Mary (1998)",
 'Thing, The (1982)',
 'This Is Spinal Tap (1984)',
 'Three Kings (1999)',
 'Time Bandits (1981)',
 'To Die For (1995)',
 'Tomorrow Never Dies (1997)',
 'Total Recall (1990)',
 'Toy Story (1995)',
 'Toys (1992)',
 'Trading Places (1983)',
 'Trainspotting (1996)',
 'Tron (1982)',
 'True Romance (1993)',
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 'Two if by Sea (1996)',
 'U2: Rattle and Hum (1988)',
 'Unforgiven (1992)',
 'Untouchables, The (1987)',
 'Usual Suspects, The (1995)',
 'Very Bad Things (1998)',
 'Wizard of Oz, The (1939)']

In [28]:
print(len(userID266), "개의 영화를 봤습니다")

180 개의 영화를 봤습니다