In [ ]:
from sklearn.preprocessing import LabelEncoder

items = ['TV','냉장고','전자레인지','컴퓨터','선풍기','냉장고','TV']

encoder = LabelEncoder()

result = encoder.fit_transform(items)
result

array([0, 1, 3, 4, 2, 1, 0])

In [2]:
encoder.classes_

array(['TV', '냉장고', '선풍기', '전자레인지', '컴퓨터'], dtype='<U5')

In [3]:
[3,1,0]

result = encoder.inverse_transform([3,1,2])
result

array(['전자레인지', '냉장고', '선풍기'], dtype='<U5')

In [ ]:
import pandas as pd

df = pd.read_excel('data/인터넷 가입자 이탈현황.xlsx')
df.head()
df_raw = df.copy()

   고객ID  월평균사용량_GB  가입기간_년   이탈여부
0   101       15.5       3   Stay
1   102        2.1       1  Churn
2   103       30.0       5   Stay
3   104        5.5       2   Stay
4   105        1.0       1  Churn

In [6]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
result = encoder.fit_transform(df['이탈여부'])
result

array([1, 0, 1, 1, 0, 1])

In [8]:
df['이탈여부'] = result
df

   고객ID  월평균사용량_GB  가입기간_년  이탈여부
0   101       15.5       3     1
1   102        2.1       1     0
2   103       30.0       5     1
3   104        5.5       2     1
4   105        1.0       1     0
5   106       25.0       4     1

In [10]:
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd

data = {
    'age':[25,35,45,50],
    'salary':[2500,4800,7100,5200]
}

df = pd.DataFrame(data)
df

   age  salary
0   25    2500
1   35    4800
2   45    7100
3   50    5200